<!DOCTYPE html>
<html>
<head>
	<title>Cover Letter Template</title>
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div ng-app = "coverTemplate" >
		<div ng-controller="updateForm" layout="column" ng-cloak>
		  <md-content class="md-padding">
		  	<div style = 'width:700px;margin:auto;'>

		      <p id = 'name' style = "float:right">Eric Geniesse</p><br>
		      <p id = 'city'style = "float:right">San Mateo, CA</p><br>
		      <p id = 'phoneNumber'style = "float:right">(650) 384-1050</p><br>
		      <p id = 'email'style = "float:right">egeniesse@gmail.com</p><br><br>
		      <p id = 'date'>{{date}}</p><br>
					<div class = 'posterInfo'>
					<p id = 'fullName'><a href="#" id = 'inlineText' editable-text="fullName">{{ fullName || 'empty' }}</a></p>
					<p id = 'title'><a href="#" id = 'inlineText' editable-text="title">{{ title || 'empty' }}</a></p>
					<p id = 'company'><a href="#" id = 'inlineText' editable-text="company">{{ company || 'empty' }}</a></p>
					<p id = 'address'><a href="#" id = 'inlineText' editable-text="address">{{ address || 'empty' }}</a></p>
					<p id = 'cityState'><a href="#" id = 'inlineText' editable-text="cityState">{{ cityState || 'empty' }}</a></p><br>
					<p id = 'posterIntro'>Dear <a href="#" id = 'inlineText' editable-text="formalName">{{ formalName || 'empty' }}</a>,</p> 
					</div>
		      <p id = 'intro' class = 'noPosterInfo'>Dear {{company}} Team,</p><br> 

		      <p id = 'paragraphOne'>I am excited for the opportunity to apply to {{company}} as a {{type}} developer. <a href="#" id = 'inlineText' editable-text="reasonToWork">{{ reasonToWork || 'empty' }}</a>.</p><br>

		      <p id = 'paragraphTwo'>I thrive on new challenges and am enthusiastic about creating efficient, well designed applications that make people's lives better. My experiences include <a href="#" id = 'inlineText' editable-text="appOneFeature">{{ appOneFeature || 'empty' }}</a> for <a href="#" id = 'inlineText' editable-text="firstAppDescription">{{ firstAppDescription || 'empty' }}</a>. <a href="#" id = 'inlineText' editable-text="descriptionOfWorkOnAppOne">{{ descriptionOfWorkOnAppOne || 'empty' }}</a>. Additionally, I developed <a href="#" id = 'inlineText' editable-text="secondAppDescription">{{ secondAppDescription || 'empty' }}</a>. I <a href="#" id = 'inlineText' editable-text="appTwoFeature">{{ appTwoFeature || 'empty' }}</a>, <a href="#" id = 'inlineText' editable-text="descriptionOfWorkOnAppTwo">{{ descriptionOfWorkOnAppTwo || 'empty' }}</a>.</p>

		      <br><p id = 'paragraphThree'>I believe my experience and passion make me the perfect candidate for the position. I am eager to learn more about {{company}} and discuss the value I can offer to the team. I look forward to hearing from you soon.</p><br>

		      <p id = 'regards'>Kind Regards, </p><br>

		      <p>Eric Geniesse</p><br>
		    </div>
		  <md-content layout-padding>
		    <div>
		      <form name="userForm">
		        <div layout-gt-sm="column">
		        <div layout='row'>
		        	<div layout = "column" flex = '20'>
				      <md-input-container >
				        <label>Company Name</label>
				        <input ng-model="company">
				      </md-input-container>
				      <md-input-container >
				        <label>Kind of Developer</label>
				        <input ng-model="type">
				      </md-input-container>
				      </div>
				    <md-radio-group flex= '15' ng-model="hasPoster" ng-change='newValue(value)'>
				    	<p>Has Job Poster</p>
				      <md-radio-button value="yes" class="md-primary">Yes</md-radio-button>
				      <md-radio-button value="no">No</md-radio-button>
				    </md-radio-group>
      	    <md-radio-group flex= '15' ng-model="stack" ng-change='newValue(value)'>
      	    	<p>Stack For App One</p>
      	      <md-radio-button value="full stack" class="md-primary">Full stack</md-radio-button>
      	      <md-radio-button value="front end">Front end</md-radio-button>
      	      <md-radio-button value="back end">Back end</md-radio-button>
      	    </md-radio-group>
  	    		<md-radio-group flex= '15' ng-model="firstApp" ng-change='newValue(value)'>
      	    	<p>First App</p><br>
  	    		    <div ng-repeat='app in applications'>
  	    		        <md-radio-button  ng-value="app.name">          
  	    		          {{app.name}}          
  	    		        </md-radio-button>        
  	    		    </div>
  	    		  </md-radio-group>
      	    <md-radio-group flex= '15' ng-model="stackTwo" ng-change='newValue(value)'>
      	    	<p>Stack For App Two</p>
      	      <md-radio-button value="full stack" class="md-primary">Full stack</md-radio-button>
      	      <md-radio-button value="front end">Front end</md-radio-button>
      	      <md-radio-button value="back end">Back end</md-radio-button>
      	    </md-radio-group>
  	    		<md-radio-group flex= '15' ng-model="secondApp" ng-change='newValue(value)'>
      	    	<p>Second App</p><br>
  	    		    <div ng-repeat='app in applications'>
  	    		        <md-radio-button  ng-value="app.name">          
  	    		          {{app.name}}          
  	    		        </md-radio-button>        
  	    		    </div>
  	    		  </md-radio-group>
      	    </div>
		        </div>
		      </form>
		    <md-button ng-click="submitCoverLetter($event)" class="md-raised">Create Cover Letter</md-button>
		    </div>
		  </md-content>
		</div>
	</div>

<script type="text/javascript" src= "bower_components/angular/angular.js"></script>
<script type="text/javascript" src= "bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script type="text/javascript" src= "bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src= "bower_components/angular-messages/angular-messages.js"></script>
<script type="text/javascript" src= "bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src= "bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src= "bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src= "appDescriptions.js"></script>
<script src="coverModule.js"></script>

</body>
</html>
